@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary-50: #eff3fa;
    --color-primary-100: #dbe4f4;
    --color-primary-200: #bdcfea;
    --color-primary-300: #90addc;
    --color-primary-400: #5d85c8;
    --color-primary-500: #3b65ad;
    --color-primary-600: #2d4f8e;
    --color-primary-700: #264073;
    --color-primary-800: #23385f;
    --color-primary-900: #213151;
    --color-primary-950: #161e33;
}

.hero-pattern {
    background-size: cover;
    background-position: center;
}

.glass-dark {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
